@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 0 20px 200px;
	background-color: #f1f1f1;
}



h1 {
	font-size: 3em;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.container{
	width: 780px;
	max-width: 90vw;
	margin: 0 auto;
	color: #FFF;
}

.container .artistaTitulo {
	background-color: #2e7d32; 
	text-align: center;
	border-radius: 5px;
}

.lista .filme {
	position: relative;
	background-color: #C0C0C0;
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.lista .filme.com-cartaz {
	overflow: hidden;
	padding-left: 200px;
}

.lista .filme .del {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	font-size: 20px;
	line-height: 10px;
	padding: 10px;
	font-weight: bold;
	overflow: hidden;
	color: #FC6E51;
}

.lista .filme .del:hover {
	color: #E9573F;
}

.lista .filme .del:after {
	content: '\00D7';
}

.lista .filme .fav {
	position: relative;
	top: 1;
	right: 2;
	border: none;
	background-color: red;
	font-size: 8px;
	line-height: 10px;
	padding: 8px;
	font-weight: bold;
	overflow: hidden;
	color: white;
}

.lista .filme .fav:hover {
	background-color: #A0D468;
}

.lista .filme img {
	position: absolute;
	width: 180px;

	max-height: 260px;

	top: 50%;
	left: 0;

	transform: translateY(-50%);
}

.lista .filme h1 {
	margin: 0;
	font-size: 1.5em;
}

.lista .filme ul {
	padding: 0;
	list-style-position: inside;
}

.lista .filme p {
	margin: 0;
}

.formularios {
	margin-top: 30px;
	padding: 20px;
	background-color: #C0C0C0;
	border-radius: 3px;
}

.formularios h1 {
	font-size: 2em;
	margin-top: 0;
}

.formularios .form-campo {
	margin-bottom: 10px;
	border-radius: 5px;
}

.formularios .form-campo.pequeno input {
	width: 100px;
}

.formularios .form-campo.medio input {
	width: 50%;
}

.formularios .form-campo label {
	display: inline-block;
	margin-bottom: 3px;
}

.formularios footer {
	margin-top: 30px;
	text-align: right;
}

.formularios button[type="submit"] {
	background-color: #8CC152;
	color: #fff;
}

.formularios button[type="submit"]:hover {
	background-color: #A0D468;
}

.formularios button[type="reset"] {
	background-color: #AAB2BD;
	color: #fff;
}

.formularios button[type="reset"]:hover {
	background-color: #CCD1D9;
}

.secao {
	text-align: center;
	color: white;
	background-color: #2e7d32; 
	padding: 1px;
	width: 780px;
	max-width: 90vw;
	margin: 0 auto;
	border-radius: 5px;
}

.opcoes {
	text-align: center;
	width: 780px;
	padding: 1px;
	font-size: 2em;
	max-width: 90vw;
	margin: 0 auto;
	background-color: #808080;
	border-radius: 5px;
}

.opcoes button[type="submit"] {
	background-color: #C0C0C0;
	color: #FFFFFF;
}

.opcoes button[type="submit"]:hover {
	background-color: #000000;
}

.voltar {
	position: center;
	border-radius: 5px;
	width: 100px;
	max-width: 90vw;
	margin: 0 auto;
}

