<!DOCTYPE html>
<html ng-app="Albuns">
<head>
	<meta charset="UTF-8">
	<title>Filmes que já assisti</title>
	
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/albuns.module.js"></script>
	<script src="js/albuns.controller.js"></script>
</head>
<body>
	
	<div class="container" ng-controller="AlbunsController">
		<h1 class="secao">{{ titulo }}</h1>
		
		<div class="lista">
			<div class="filme com-cartaz" ng-repeat="album in albuns">
				<h1>{{ album.titulo }}</h1>
				<button class="del" title="Excluir" ng-click="removerAlbum(album.id)"></button>
				<img ng-src="{{ album.cartaz }}" alt="Cartaz de {{ album.titulo }}">
				<ul>
					<li><strong>Ano:</strong> {{ album.ano }}</li>
					<li><strong>Artista:</strong> {{ album.artista }}</li>
				</ul>
				<h1> Músicas do Album </h1>
				<u1 ng-repeat="musica in album.musicas">
					<li><strong>Nome da música:</strong> {{ musica.nomeDaMusica }}</li>
					<li><strong>Duração (em minutos):</strong> {{ musica.duracao}}</li>
					<h6>&#013;</h6>
				</u1>
				
			</div>	
		</div>

		<hr>

		<form class="formularios" ng-submit="adiciona()">
			<h1>Adicionar Música</h1>
			<div class="form-campo">
				<label for="titulo">Titulo da música</label>
				<input type="text" id="titulo" ng-model="novaMusica.nomeDaMusica">
			</div>
			<div class="form-campo pequeno">
				<label for="ano">Ano de Lançamento</label>
				<input type="number" id="ano" ng-model="novoAlbum.ano">
			</div>
			<div class="form-campo medio">
				<label for="artista">Artista</label>
				<input type="text" id="artista" ng-model="novoAlbum.artista">
			</div>
			<div class="form-campo">
				<label for="cartaz">Album</label>
				<input type="text" id="cartaz" ng-model="novoAlbum.titulo">
			</div>
			<div class="form-campo">
				<label for="duracao">Duração</label>
				<input type="number" id="duracao" ng-model="novaMusica.duracao">
			</div>

			<div class="form-campo">
				<label for="cartaz">Foto do Álbum</label>
				<input type="text" id="cartaz" ng-model="novoAlbum.cartaz">


			</div>

			

			<footer>
				<button type="reset">Limpar</button>
				<button type="submit">Salvar</button>
			</footer>
		</form>
	</div>

	<div class="voltar">
		<form method="get" action="index.html"><button type="submit">Voltar</button></form>
	</div>
	
</body>
</html>