<!DOCTYPE html>
<html ng-app="Artistas">
<head>
	<meta charset="UTF-8">
	<title>Seção de Álbuns</title>
	
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/artistas.module.js"></script>
	<script src="js/controller.js"></script>
</head>
<body>
	
	<div class="container" ng-controller="ArtistasCtrl">
		<h1 class="secao">Álbuns Cadastrados</h1>
		
		<div class="lista">
			<div ng-repeat="artista in artistas">
				<div class="artista com-cartaz" ng-repeat="album in artista.albuns">		
				<h1>{{ album.titulo }}</h1>
				<button class="del" title="Excluir" ng-click="removerAlbum(artista, album.titulo)"></button>
				<img ng-src="{{ album.cartazAlbum }}" alt="Cartaz de {{ album.titulo }}">
				<ul>
					<li><strong>Ano:</strong> {{ album.ano }}</li>
					<li><strong>Artista:</strong> {{ artista.nome }}</li>
				</ul>
				<h1> Músicas do Album </h1>
					<u1 ng-repeat="musica in album.musicas">
						<li><strong>Nome da música:</strong> {{ musica.nomeDaMusica }}</li>
						<li><strong>Duração (em minutos):</strong> {{ musica.duracao}}</li>
						<h6>&#013;</h6>
					</u1>
				</div>
			</div>	
		</div>

		<hr>

		<h1 class="secao"> Adicionar Música </h1>
		<form class="formularios" ng-submit="adiciona()">
			<div class="form-campo">
				<label for="titulo">Titulo da música</label>
				<input type="text" id="titulo" ng-model="novaMusica.nomeDaMusica">
			</div>
			<div class="form-campo pequeno">
				<label for="ano">Ano de Lançamento</label>
				<input type="number" id="ano" ng-model="novoAlbum.ano">
			</div>
			<div class="form-campo">
				<label for="cartaz">Álbum</label>
				<input type="text" id="cartaz" ng-model="novoAlbum.titulo">
			</div>
			<div class="form-campo pequeno">
				<label for="duracao">Duração da música</label>
				<input type="number" id="duracao" ng-model="novaMusica.duracao">
			</div>

			<div class="form-campo">
				<label for="cartaz">Foto do Álbum</label>
				<input type="text" id="cartaz" ng-model="novoAlbum.cartazAlbum">
			</div>

			<div class="form-campo">
				<label for="att"> Artista: </label>
				<select ng-model="novoAlbum.artista" ng-options="artista.nome for artista in artistas">
					<option value="">Selecione um artista</option>
				</select>


			

			<footer>
				<button type="reset">Limpar</button>
				<button type="submit">Salvar</button>
			</footer>
		</form>
	</div>

	<div class="voltar">
		<form method="get" action="index.html"><button type="submit">Voltar</button></form>
	</div>
	
</body>
</html>