<!DOCTYPE html>
<html ng-app="Artistas">
<head>
	<meta charset="UTF-8">
	<title>Seção de Artistas</title>
	
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/artistas.module.js"></script>
	<script src="js/controller.js"></script>
</head>
<body>
	<div class="container" ng-controller="ArtistasCtrl">
		<h1 class="secao">Artistas cadastrados</h1>
		
		<div class="lista">
			<div class="artista com-cartaz" ng-repeat="artista in artistas">
				<h1>{{ artista.nome }}</h1>
				<button class="del" title="Excluir" ng-click="removerArtista(artista.id)"></button>
				<button class= "fav" title="Favoritar Artista" ng-click="adicionarFavorito(artista.id)">Favoritar</button>
				<img ng-src="{{ artista.cartaz }}" alt="Cartaz de {{ artista.nome }}">
				<ul>
					<li><strong>Estilo musical:</strong> {{ artista.estilo }}</li>
				</ul>
				<u2>
					<li><strong>Albuns:</strong></li>
						<div class="album com-cartaz" ng-repeat="album in artista.albuns">
							<h1>{{ album.titulo }}</h1>
							<img ng-src="{{ album.cartazAlbum }}" alt="Cartaz de {{ album.titulo }}">
							<ul>
								<li><strong>Ano:</strong> {{ album.ano }}</li>
							</ul>
							<h1> Músicas do Album </h1>
								<u1 ng-repeat="musica in album.musicas">
									<li><strong>Nome da música:</strong> {{ musica.nomeDaMusica }}</li>
									<li><strong>Duração (em minutos):</strong> {{ musica.duracao}}</li>
									<h6>&#013;</h6>
								</u1>
								
						</div>	
		</div>

		<div class="container">

		<div class="lista">
			<h1 class="secao">Artistas Favoritos</h1>
			<div class="artista com-cartaz" ng-repeat="artista in artistas | filter:{favorito:true}">
				<h1>{{ artista.nome }}</h1>
				<button class="del" title="Desfavoritar" ng-click="desfavoritarArtista(artista.id)"></button>
				<img ng-src="{{ artista.cartaz }}" alt="Cartaz de {{ artista.nome }}">
				<ul>
					<li><strong>Estilo musical:</strong> {{ artista.estilo }}</li> 
				</ul>
			</div>
		</div>

		<hr>
		<h1 class="secao">Adicionar Artista</h1>
		<form class="formularios" ng-submit="adicionarArtista()">
			<div class="form-campo">
				<label for="nome">Nome do artista</label>
				<input type="text" id="nome" ng-model="novoArtista.nome">
			</div>
			<div class="form-campo pequeno">
				<label for="estilo">Estilo Musical</label>
				<input type="text" id="estilo" ng-model="novoArtista.estilo">
			</div>
			
			<div class="form-campo">
				<label for="cartaz">Url da foto</label>
				<input type="text" id="cartaz" ng-model="novoArtista.cartaz">
			</div>

			<footer>
				<button type="reset">Limpar</button>
				<button type="submit">Salvar</button>
			</footer>
		</form>
	</div>

	<div class="voltar">
		<form method="get" action="index.html"><button type="submit">Voltar</button></form>
	</div>
	
</body>
</html>